body {
  padding: 25px;
  margin: 0;
  box-sizing: border-box;
  font-family: Inter;
}

/* Navbar */
.navbar {
  padding: 20px;
  margin: 0;
}

.navlinks {
  display: flex;
  position: sticky;
  float: right;
  padding: 20px;
  word-spacing: 50px;
  color: hsl(236, 13%, 42%);
}

/* Main */
.main-container {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.left-grid img {
  width: 100%;
  height: auto;
}

.right-grid {
  flex-wrap: wrap;
  width: auto;
  background: black;
  font-size: 15px;
  padding: 15px;
}

.bottom-left-grid h1 {
  font-weight: 900;
}

.right-grid h1 {
  color: hsl(35, 77%, 62%);
}

.right-grid h3 {
  color: hsl(36, 100%, 99%);
}

.right-grid p {
  color: hsl(236, 13%, 42%);
}

.bottom-left-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.bottom-left-grid button {
  border: none;
  font-size: larger;
  padding: 15px 32px;
  color: #ffff;
  background-color: hsl(5, 85%, 63%);
}

.second-container section {
  display: flex;
  flex-wrap: wrap;
}

.second-container section img {
  position: relative;
  height: 18vh;
}

.second-container section h3 p {
  position: relative;
  top: 18px;
  left: 20px;
}

.second-grid {
  flex: 1;
  width: 32%;
}
